<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlFstQUvvJ5qJXsAOQRit5fNvVXvYnm88</string>
	<key>GCM_SENDER_ID</key>
	<string>816772009570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.codafriqa.venttly</string>
	<key>PROJECT_ID</key>
	<string>venttly</string>
	<key>STORAGE_BUCKET</key>
	<string>venttly.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816772009570:ios:67d35a04f0c5bea9700b3b</string>
</dict>
</plist>